.modal.fade#myModal(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        h1.modal-title Modal header
        a(href="#" class="close" data-dismiss="modal")
          img(src="img/close_modal.png" alt="close button")
      .modal-body
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      .modal-footer
        input(type="button" data-dismiss="modal" class="modal__btn modal__btn-cancel" value="Cancel" disabled)
        input(type="button" data-dismiss="modal" class="modal__btn modal__btn-accept" value="Accept")
