section.section_2
  .wrapper
    .container-fluid
      .row
        .col-md-5
          .section_2__media
            img(src="img/comp.png" alt="comp")


        .col-md-7
          .section_2__list
            h1 Title text
            ol
              li
                span.section_2__circle
                  span.number 1
                a(href="#" data-toggle="modal" data-target="#myModal") Duis aute irure dolor in reprehenderit<sup>1</sup> in voluptate velit

              li
                span.section_2__circle
                  span.number 2
                a(href="#" data-toggle="modal" data-target="#myModal") Ullamco laboris nisi ut aliquip ex ea commodo consequat

              li
                span.section_2__circle
                  span.number 3
                a(href="#" data-toggle="modal" data-target="#myModal") Ut enim ad minim veniam, quis nostrud exercitation

              li
                span.section_2__circle
                  span.number 4
                a(href="#" data-toggle="modal" data-target="#myModal") Et dolore magna aliqua

              li
                span.section_2__circle
                  span.number 5
                a(href="#" data-toggle="modal" data-target="#myModal") Sed do eiusmod tempor<sup>2</sup> incididunt ut labore

              li
                span.section_2__circle
                  span.number 6
                a(href="#" data-toggle="modal" data-target="#myModal") Lorem ipsum dolor sit amet<sup>3</sup> consectetur adipisicing elit
