section.section_1
  .wrapper
    .container-fluid
      .row
        .col-md-4.col-sm-4.col-xs-12
          a(href="#" class="card_block card_block-1")
            .card_block__overlay
              h2.card_block__title Post header 1
              p.card_block__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.


        .col-md-4.col-sm-4.col-xs-12
          a(href="#" class="card_block card_block-2")
            .card_block__overlay
              h2.card_block__title Post header 2
              p.card_block__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.

        .col-md-4.col-sm-4.col-xs-12
          a(href="#" class="card_block card_block-3")
            .card_block__overlay
              h2.card_block__title Post header 3
              p.card_block__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.


      .row
        .col-md-6.col-sm-6.col-xs-12
          a(href="#" class="card_block card_block-4")
            .card_block__overlay
              h2.card_block__title Post header 4
              p.card_block__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.

        .col-md-6.col-sm-6.col-xs-12
          a(href="#" class="card_block card_block-5")
            .card_block__overlay
              h2.card_block__title Post header 5
              p.card_block__description.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.